.rb-container, .rb-container-dark {
	.rb-table {
		border-collapse: collapse;
		width: 100%;

		> thead > tr > th {
			text-align: left;
			border-bottom: 1px solid black;
		}

		thead, tr {
			height: 1em;
		}

		.rb-center {
			vertical-align: middle;
			text-align: center;
		}
	}
}