@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.rb-container, .rb-container-dark {
	.rb-border {
		border-style: solid;
		border-width: 1px;
	}

	.rb-border-rounded {
		@extend .rb-border;
		@include border-radius(5px);
	}
}