$color-background: #fff;
$color-text: #222;
$color-headings-text: #222;
$color-headings-span: #000;
$color-headings-border: #777;
$color-border: #aaa;
$color-border-shadow: #888;

$color-background-dark: #444;
$color-text-dark: #ddd;
$color-headings-text-dark: #ddd;
$color-headings-span-dark: #fff;
$color-headings-border-dark: #777;
$color-border-dark: #888;
$color-border-shadow-dark: #aaa;

$color-tabs-background: #f8f8f8;
$color-tabs-open-background: #fff;
$color-tabs: #111;
$color-tabs-border: #aaa;

$color-tabs-background-dark: #444;
$color-tabs-open-background-dark: #444;
$color-tabs-dark: #eee;
$color-tabs-border-dark: #aaa;

$color-tables-row-border: #ddd;

$color-code-pre-background: #eee;

@mixin container-colors($background, $color, $headings-color, $headings-border, $headings-span-color, $border-color, $border-shadow) {
	background-color: $background;
	color: $color;

	> h1, > h2, > h3, > h4, > h5, > h6 {
		border-color: $headings-border;
		color: $headings-color;

		span {
			color: $headings-span-color;
		}
	}

	.rb-border, .rb-border-rounded {
		border-color: $border-color;
		box-shadow: 0 0 4px $border-shadow;
	}
}

@mixin tab-colors($background, $background-open, $color, $border) {
	ul.rb-tabset {
		> li {
			background-color: $background;
			color: $color;
			border-color: $border;

			&.rb-open {
				background-color: $background-open;
			}
		}
	}

	.rb-tab {
		border-color: $border;
	}
}

.rb-container {
	@include container-colors(
		$color-background,
		$color-text,
		$color-headings-text,
		$color-headings-border,
		$color-headings-span,
		$color-border,
		$color-border-shadow);

	@include tab-colors($color-tabs-background, $color-tabs-open-background, $color-tabs, $color-tabs-border);
}

.rb-container-dark {
	@include container-colors(
		$color-background-dark,
		$color-text-dark,
		$color-headings-text-dark,
		$color-headings-border-dark,
		$color-headings-span-dark,
		$color-border-dark,
		$color-border-shadow-dark);

	@include tab-colors($color-tabs-background-dark, $color-tabs-open-background-dark, $color-tabs-dark, $color-tabs-border);
}