@import 'common';

$gridfree-margin: 0.25em;

.rb-container, .rb-container-dark {
	.rb-gridfree {
		padding: $gridfree-margin / 2;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	
		[data-gridfree-fix],[data-gridfree-rel],[data-gridfree-all] {
			box-sizing: border-box;
			margin: $gridfree-margin / 2;
			overflow: auto;
		}

		[data-gridfree-fix] {
			width: attr(data-gridfree-fix px, auto)
		}

		[data-gridfree-all] {
			width: 100%;
		}

		> .rb-gridfree {
			margin: -$gridfree-margin / 2;
		}
	}

	tr.rb-gridfree {
		display: table-row;

		td[data-gridfree-fix],
		th[data-gridfree-fix],
		td[data-gridfree-rel],
		th[data-gridfree-rel] {
			position: static;
			display: table-cell;
			float: none;
		}
	}
}