.rb-container, .rb-container-dark {
	.rb-modal {
		box-sizing: border-box;
		display: none;
		left: 0.5em;
		margin: 0;
		position: absolute;
		top: 0.5em;
		width: calc(100% - 1em);

		&.rb-open {
			display: block;
		}

		.fa-close {
			float: right;
			height: 1em;
			text-align: center;
			width: 0.95em;
		}
	}

	.rb-modal-backdrop {
		background: rgba(black, 0.5);
		display: none;
		height: 100%;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;

		&.rb-open {
			display: block;
		}
	}
}